<div class="col-xs-3">
	<h1>User info</h1>
	<%= attachment_image_tag user, :image, :fill, 100, 100,format: 'jpeg',fallback: "no_image.jpg", class: "userimage" %>
	<div class="row">
		<table class="table">
			<tr>
				<th>Name</th>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<th>introduction</th>
				<td><%= user.introduction %></td>
			</tr>
		</table>
		<%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		<%= form_for(book) do |f| %>
		<% if book.errors.any? %>
		<div id="error_explanation" calss="alert alert-danger">
			<ul>
				<% book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<p>Title</p>
		<%= f.text_field :title, class: "col-xs-12" %>
		<p>Opinion</p>
		<%= f.text_area :opinion, class: "col-xs-12" %>
		<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12 margin" %>
		<% end %>
	</div>
</div>